<section>
  <div class="centerCard" *ngFor="let users of listUsuarios" let i="index">
    <div class="nameDescription">
      <h3>{{ users.nomeAuto }}</h3>
      <p>{{ users.descricaoRep }}</p>
    </div>
    <div class="imgLog" value="usuario.foto">{{users.foto}}
      <h5 class="vulgo">{{ users.nomeRep }}</h5>
    </div>
  
    <div class="buttons">
        <app-buttons>
            <p>{{ users.numEstrelas }}</p>
            <mat-icon svgIcon="">

            </mat-icon>>
        </app-buttons>
  </div>
</div>
</section>
