section{
    width: 100%;
    display:block
}

.centerCard{
    width: auto;
    height: auto;
    border: solid 1px;
    margin: 5em;

    display: flex;
    justify-content: space-between;

    .imgLog{
        img{
            width: 80px;
            height: 68px;
            border-radius: 43%;

        }
    }
}